.container {
  margin-top: 5rem;
}

.heading {
  font-weight: 700;
  font-size: 3rem;
}

.headerImg {
  width: 600px;
  margin: 1rem 0;
}
.sellerheading{
  font-size: 3rem;
}

.sellerDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.sellerDivImg {
  width: 400px;
}

.sellerInfo {
  max-width: 400px;
 
  width: 95%;
  padding: 0 0.5rem;
}

.sellerInfo h3 {
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.sellerInfo p {
  text-align: left;
}

.pricing {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.pricingHeading {
  margin: 2rem 0;
  font-weight: 700;
  font-size: 3rem;
}

.pricingInfo {
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 0 auto;
  /* width: 600px; */
}



@media screen and (max-width: 910px) {
  .sellerInfo h3 {
    font-size: 2rem;
  }
  .sellerheading{
    font-size: 2.8rem;
  }
  
}
@media screen and (max-width: 768px) {
  .sellerDivImg {
    width: 300px;
  }
  .sellerInfo h3 {
    font-size: 1.8rem;
  }
  .sellerInfo p {
    font-size: 0.9rem;
  }
 .headerImg {
  width: 400px;
 }

 
}

@media screen and (max-width: 610px) {
  .sellerDivImg {
    width: 280px;
  }

 .headerImg {
  width: 350px;
 }

  
}


@media screen and (max-width: 450px) {
  .sellerDiv {
    justify-content: space-between;
    margin: 0;
    width: 94vw;
  }
  .sellerDivImg {
    width: 250px;
  }

 .headerImg {
  width: 350px;
 }

  
}

@media screen and (max-width: 400px) {
  .sellerDivImg {
    width: 200px;
  }

 .headerImg {
  width: 280px;
 }

  .pricingImg {
    width: 240px;
  }
}

@media screen and (max-width: 340px) {
  .sellerDivImg {
    width: 180px;
  }
  .sellerheading{
    font-size: 2.4rem;
  }
  .sellerDiv{
    width: 94vw;
  }
  

 .headerImg {
  width: 240px;
 }

 
}

@media screen and (max-width: 280px){
  .pricingPara{
    font-size: 14px;
  }

  .sellerDivImg {
    width: 130px;
  }

  .sellerInfo{
    height: 200px;
    align-items: center;
   justify-content: center;
   margin-left: 30px;
    
  }

  .sellerDiv {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 1rem;
   width: 94vw;
  }
  .sellerInfo p {
   font-size: 14px;
  }
  .sellerInfo h3 {
    font-size: 24px;
    font-weight: bolder;
  }
  
  .heading{
    font-size: 22px;
    font-weight: bolder;
  }

  .listitems p {
    font-size: 14px;
    font-weight: 900;
    align-items:flex-start
  }

  .pricingHeading{
    font-size: 22px;
  }
  .pricingInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

  }

  .pricinglist{
    margin-left: -20px;
    align-items: flex-start;
  }
}
