/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 80px;
  padding: 50px;
  height: 80vh;
  width: auto;
  justify-content: center;
  align-items: center;
}

.display {
  margin: 300px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
img {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 20rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;

  font-size: xx-large;
  color: #4c9efc;
  font-weight: 700;
}

p {
  text-transform: uppercase;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 15px;

  color: rgb(59, 59, 59);
}
h2 {
  font-size: large;
  color: rgb(48, 48, 48);
  margin-top: 10px;
  margin-bottom: 15px;
} */

@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
  --theme-color-brown: #423a3a;
  --theme-color-red: #cd3a24;
  --theme-color-white: #feffff; /* rgba(254, 255, 255, 1) */
}

/* ---------- MAIN BODY DECLERATIONS ---------- */

html,
body {
  background-color: var(--theme-color-white);
  font-family: "AdiHaus";
  font-size: 14px;
  height: 100%;
  width: 100%;
}

input {
  font-family: "AdiHaus";
}

.mobile-container {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
}

.hero-image-desktop {
  display: none;
}

/* ---------- HERO BANNER DECLERATIONS ---------- */
.hero-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-banner .logo-wrapper {
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  width: auto;
}

.logo-wrapper a {
  /* color: var(--theme-color-brown); */
  line-height: 24px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #37b1f8;
  letter-spacing: 1px;
  margin-left: 40;
  /* width: auto; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.logo-wrapper img {
  display: block;
  margin: 0 auto;
  height: 6.1rem;
  width: auto;
}

.hero-banner .hero-image {
  /* background-image: url(https://assets.codepen.io/6060109/athlete-girl.png); */
  background-image: url(https://as2.ftcdn.net/v2/jpg/01/48/06/59/1000_F_148065958_PQsH7BUTWZxBFa8ufbUKplqP8PFn7hYN.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 376px;
  width: 100%;
}

/* ---------- TEXT INFO DECLERATIONS ---------- */
.text-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.text-info > * {
  padding: 0 2.5rem 1rem;
}

/* intended for the first h2 within .text-info */
.text-info h2:nth-child(1) {
  color: #888;
  font-weight: normal;
  /* padding-top: 1.8rem; */
  padding-bottom: 1rem;
}

.text-info h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #1b2757;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text-info p {
  color: var(--theme-color-black);
  line-height: 24px;
  font-size: 3.5rem;
}

.text-info .email-signup {
  margin: 1rem 0 6rem;
  position: relative;
  width: 100%;
}

.email-signup .email-input {
  border: 1.5px solid #37b1f8;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  opacity: 0.5;
  width: 100%;
}

.email-signup .email-input:focus {
  background-color: var(--theme-color-white);
  outline: 2px solid #1b2757;
  border: 0px;
  opacity: 1;
}

.email-signup .email-submit {
  background-color: #1b2757;
  border-bottom: 1px solid #1b2757;
  border-radius: 6px;
  color: var(--theme-color-white);
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
  margin-right: 2.5rem;
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(https://assets.codepen.io/6060109/destop-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    height: inherit;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 3.5rem;
  }

  .mobile-container {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hero-banner .logo-wrapper {
    margin-left: 3.5rem;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .logo-wrapper img {
    margin: 0 0 0;
    padding-left: 2.5rem;
  }

  .hero-image {
    display: none;
  }

  .text-info {
    text-align: left;
    align-items: start;
  }

  .text-info h2 {
    font-size: 4.5rem;
  }

  .text-info p {
    font-size: 16px;
  }

  .text-info input {
    font-size: 16px;
  }

  .text-info .email-signup {
    margin: 1rem 0 7rem;
  }

  .hero-image-desktop {
    display: block;
    height: 100%;
    width: 55vw;
  }

  .hero-image-desktop img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .email-signup .email-submit {
    border-bottom: 2px solid var(--theme-color-black);
  }
}
