.container {
  margin-top: 5rem;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
    
}

.mainDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem auto;
  width: 730px;
}

.logo {
  width: 200px;
  margin-right: 70px;
  /* margin: 0 15rem; */
}

.infoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
}

.founderDiv {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.data {
  margin-left:3rem;
}

.cardContainer {
  width: 300px;
  height: 200px;
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  );
  color: white;
  border-radius: 5px;
  margin-right: 25px;
  padding: 5px;
  font-weight: 900;
}

.cardDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}



@media screen and (max-width: 800px){
  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 5rem auto; */
    width: auto;
  }

}
@media screen and (max-width: 540px){
  .cardDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
   
  }
  .cardContainer{
    width: 400px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  
  }

}




@media screen and (max-width: 375px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 5rem auto; */
    width: 255px;
  }
  .heading{
    font-size: 2.5rem;
  }

  .infoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }

.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 
}
.cardContainer{
  width: 355px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

}


  
  }


@media screen and (max-width: 270px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 5rem auto; */
    width: 255px;
  }
  .heading{
    font-size: 2.5rem;
  }

  .infoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  }

.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 
}
.cardContainer{
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

}


  
  }
