.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "main main . . ";
  background-color: black;
  height: 300px;
  overflow: hidden;
}

.mainDiv {
  grid-area: main;
  text-align: left;
  padding: 0 4rem;
  padding-top: 2rem;
  height: 300px;
}

.logo {
  width: 250px;
}

.para {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  width: 75%;
}

a {
  text-decoration: none;
}
.contact {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  padding-top: 2rem;
  height: 300px;
}

.heading {
  color: #37b2f8;
}

.address {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-top: 2rem;
  height: 300px;
}

.email i {
    padding-right: 0.4rem;;
}

.copyright {
  color: rgb(206, 206, 206);
  margin-top: 4rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .container {

    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .copyright {
    margin-top: -10px;
  }

  .mainDiv {
    text-align: center;
    margin-bottom: 30px;
  }
  .contact {
    height: 200px;
    margin-top: 10px;
  }

  
}


@media screen and (max-width: 650px) {
  .mainDiv {
    
    text-align: left;
    padding: 0 4rem;
    padding-top: 2rem;
    height: 200px;
    margin-left: -10px;
  }

  .para{
    font-size: 14px;
    font-weight: 900; 
    line-height: 20px;
    width: 85%;
  }

  .contact {
    height: 150px;
    margin-top: -20px;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    width: 85%;
    margin-left: 30px;
    
  }

  .address {
    font-weight: 900;
    line-height: 20px;
    font-size: 14px;
    width: 85%;   
    padding-top: 2rem;
    height: 200px;
    margin-left: 30px;
  }
  
}