.container {
  width: 280px;
 height: 230px;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 5px;
  color: white;
}

.title {
  font-weight: 900;
  font-size: 18px;
  padding: 8px 0;
}
.para{
  font-weight: 900;
}

@media screen and (max-width: 810px) {
  .container {
    width: 200px;
    height: 180px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 300px;
    height: 240px;
    
  }
  .title{
    font-size: 18px;
  }

  .para{
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 250px;
    height: 220px;
  }

  .title{
    font-size: 16px;
  }

  .para{
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 245px;
    height: 200px;
  }

  .title{
    font-size: 16px;
    font-weight: bold;
  }

  .para{
    font-size: 13px;
    font-weight: bold;
  }
}